.help {
    text-decoration-color: red;
}
.tired {
    text-decoration-color: grey;
}
.title {
    font-size: 20px;
    color: black;
    background-color: lightgrey;
    border-radius: 50px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}
.small-itl-c {
    font-style: italic;
    font-size: 8px;
    text-align: center; 
}
nav {
    padding-left: 0px;
    padding-right: 0px;
}
.nav-bar {
    color: black;
    background-color: rgb(224, 224, 224);
    padding: 10px;
    text-align: right;
    border-bottom: 2px solid grey;
    letter-spacing: 1px;
    padding-left: 0px;
    padding-right: 0px;
}
.nav-bar a {
    color: black;
    /* display: inline-block; */
    float: left;
    text-decoration: none;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 5px;
}
.nav-bar a:hover, .dropNav:hover .dropOption {
    background-color: rgb(197, 197, 197);
    border-radius: 2px;
}
.nav-bar li a {
    color: black;
    text-decoration: blanchedalmond;
}
.dropNav {
    float: left;
    overflow: hidden;

}
.dropNav .dropOption {
    color: black;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 5px; 
}
.dropNavContent {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*cool box shadow*/
    z-index: 1;
    border-radius: 5px;
} /*hey lazy dude type 'box shadow generator' in google its cool lmao*/
.dropNavContent a {
    float: none;
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
}
.dropNavContent a:hover {
    background-color: rgb(197, 197, 197);
}
.dropNav:hover .dropNavContent{
    display: block;
}
.post {
    font-style: normal;
    font-size: 12px;
    padding: 10px;
    width: 70%;
    text-align: center;
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
    border: 2px solid rgb(221,221,221);
    margin-right: auto;
    margin-left: auto;
}
label {
    font-style: normal;
    font-size: 12px;
    padding: 10px;
    background-color: rgb(185, 236, 185);
    border-radius: 3px;
}
input[type="text"] {
    border: 2px;
    color: black ;
    width: 100%;
    padding: 2px 2px;
    display: block;
}
input[type="submit"] {
    color: rgb(109, 83, 16);
    font-style: bold;
    background-color: lightyellow;
    border-radius: 3px;
}
.graphics {
    color: black;
}
#dropAccount{
    position: relative;

}
#drop {
    background-color: rgb(171, 245, 204);
    visibility: hidden;
    transition: 0.3s;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 250px;
    top: 0;
}
.drop {
    visibility: visible;
}
@media only screen and (min-width: 400px) {
    .drop{
      visibility: hidden;
    }
  
    
   
  }
@media only screen and (max-width: 400px) {
  .nav-bar a {
    display:none;
  }

  
 
}
  